/bin/AndroidManifest.xml
/bin/MapGame.apk
/bin/classes/com/mapgame/BuildConfig.class
/bin/classes/com/mapgame/MainActivity.class
/bin/classes/com/mapgame/R$attr.class
/bin/classes/com/mapgame/R$color.class
/bin/classes/com/mapgame/R$dimen.class
/bin/classes/com/mapgame/R$drawable.class
/bin/classes/com/mapgame/R$id.class
/bin/classes/com/mapgame/R$layout.class
/bin/classes/com/mapgame/R$menu.class
/bin/classes/com/mapgame/R$string.class
/bin/classes/com/mapgame/R$style.class
/bin/classes/com/mapgame/R.class
/bin/classes/com/mapgame/streetsgraph/DataLoadException.class
/bin/classes/com/mapgame/streetsgraph/DataLoader.class
/bin/classes/com/mapgame/streetsgraph/Point.class
/bin/classes/com/mapgame/streetsgraph/Way.class
/bin/dexedLibs/android-support-v4-57bc72be977a6191a4bb1dc334e41a1d.jar
/bin/dexedLibs/osmdroid-android-4.1-1ab9a20f69d2531e872f73fefacad0c0.jar
/bin/dexedLibs/slf4j-android-1.7.6-184ef32b605ff766f60ba2fbf317d658.jar
/bin/dexedLibs/slf4j-api-1.7.6-6d25a42fa7044762870c9a7ecccdcba8.jar
/bin/jarlist.cache
/bin/res/crunch/drawable-hdpi/ic_launcher.png
/bin/res/crunch/drawable-mdpi/ic_launcher.png
/bin/res/crunch/drawable-xhdpi/ic_launcher.png
/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
/bin/resources.ap_
/bin/classes.dex
