/bin/classes/com/mapgame/arrowsturn/TurnArrows$3.class
/bin/res/crunch/drawable-xxhdpi/transparrent_arrow_framea.png
/bin/classes/com/mapgame/MainActivity$2.class
/bin/classes/com/mapgame/arrowsturn/ArrowsTurnCrossroadSolver.class
/bin/classes/com/mapgame/arrowsturn/ArrowsTurnCrossroadSolverFactory.class
/bin/classes/com/mapgame/arrowsturn/TurnArrows$1.class
/bin/classes/com/mapgame/arrowsturn/TurnArrows$2.class
/bin/classes/com/mapgame/arrowsturn/TurnArrows.class
/bin/classes/com/mapgame/engine/CarPosition.class
/bin/classes/com/mapgame/engine/CrossroadSolverFactory.class
/bin/classes/com/mapgame/engine/DirectionVector.class
/bin/classes/com/mapgame/sensorturn/SensorTurnCrossroadSolver.class
/bin/classes/com/mapgame/sensorturn/SensorTurnCrossroadSolverFactory.class
/bin/classes/com/mapgame/sensorturn/SensorTurnable.class
/bin/classes/com/mapgame/sensorturn/TurnSensor.class
/bin/res/crunch/drawable-xxhdpi/transparent_arrow_small.png
/bin/res/crunch/drawable-xxhdpi/transparrent_arrow.png
/bin/classes/com/mapgame/GameSurface.class
/bin/classes/com/mapgame/overlaycomponents/Component.class
/bin/classes/com/mapgame/overlaycomponents/ComponentsManager.class
/bin/classes/com/mapgame/overlaycomponents/DirectionArrow.class
/bin/classes/com/mapgame/streetsgraph/DirectionVector.class
/bin/classes/com/mapgame/turnsensor/TurnSensor.class
/bin/classes/com/mapgame/turnsensor/Turnable.class
/bin/classes/com/mapgame/mapprojection/Map$MoveAnimation$1.class
/bin/classes/com/mapgame/streetsgraph/CarPosition.class
/bin/classes/com/mapgame/streetsgraph/SpatialiteDb.class
/bin/classes/com/mapgame/streetsgraph/StreetsDataSource.class
/bin/classes/com/mapgame/streetsgraphdep/DataLoadException.class
/bin/classes/com/mapgame/streetsgraphdep/DataLoader.class
/bin/classes/com/mapgame/streetsgraphdep/Point.class
/bin/classes/com/mapgame/streetsgraphdep/Way.class
/bin/classes/jsqlite/Authorizer.class
/bin/classes/jsqlite/Backup.class
/bin/classes/jsqlite/Benchmark.class
/bin/classes/jsqlite/BenchmarkThread.class
/bin/classes/jsqlite/Blob.class
/bin/classes/jsqlite/BlobR.class
/bin/classes/jsqlite/BlobW.class
/bin/classes/jsqlite/BusyHandler.class
/bin/classes/jsqlite/Callback.class
/bin/classes/jsqlite/Constants.class
/bin/classes/jsqlite/DBDump.class
/bin/classes/jsqlite/Database.class
/bin/classes/jsqlite/Exception.class
/bin/classes/jsqlite/Function.class
/bin/classes/jsqlite/FunctionContext.class
/bin/classes/jsqlite/Profile.class
/bin/classes/jsqlite/ProgressHandler.class
/bin/classes/jsqlite/SQLDump.class
/bin/classes/jsqlite/SQLRestore.class
/bin/classes/jsqlite/Shell.class
/bin/classes/jsqlite/Stmt.class
/bin/classes/jsqlite/StringEncoder.class
/bin/classes/jsqlite/TableResult.class
/bin/classes/jsqlite/Trace.class
/bin/classes/jsqlite/Vm.class
/libs/armeabi-v7a/libjsqlite.so
/libs/armeabi/libjsqlite.so
/libs/x86/libjsqlite.so
/bin/classes/com/mapgame/engine/CrossroadSolver.class
/bin/classes/com/mapgame/engine/Engine.class
/bin/dexedLibs/osmdroid-android-4.1-javadoc-7c7113ce0925f059a01c380eb050f043.jar
/bin/classes/com/mapgame/MainActivity$1.class
/bin/classes/com/mapgame/mapprojection/Map$MoveAnimation.class
/bin/classes/com/mapgame/mapprojection/Map.class
/bin/classes/com/mapgame/mapprojection/MapMenageable.class
/bin/AndroidManifest.xml
/bin/MapGame.apk
/bin/classes/com/mapgame/BuildConfig.class
/bin/classes/com/mapgame/MainActivity.class
/bin/classes/com/mapgame/R$attr.class
/bin/classes/com/mapgame/R$color.class
/bin/classes/com/mapgame/R$dimen.class
/bin/classes/com/mapgame/R$drawable.class
/bin/classes/com/mapgame/R$id.class
/bin/classes/com/mapgame/R$layout.class
/bin/classes/com/mapgame/R$menu.class
/bin/classes/com/mapgame/R$string.class
/bin/classes/com/mapgame/R$style.class
/bin/classes/com/mapgame/R.class
/bin/classes/com/mapgame/streetsgraph/DataLoadException.class
/bin/classes/com/mapgame/streetsgraph/DataLoader.class
/bin/classes/com/mapgame/streetsgraph/Point.class
/bin/classes/com/mapgame/streetsgraph/Way.class
/bin/dexedLibs/android-support-v4-57bc72be977a6191a4bb1dc334e41a1d.jar
/bin/dexedLibs/osmdroid-android-4.1-1ab9a20f69d2531e872f73fefacad0c0.jar
/bin/dexedLibs/slf4j-android-1.7.6-184ef32b605ff766f60ba2fbf317d658.jar
/bin/dexedLibs/slf4j-api-1.7.6-6d25a42fa7044762870c9a7ecccdcba8.jar
/bin/jarlist.cache
/bin/res/crunch/drawable-hdpi/ic_launcher.png
/bin/res/crunch/drawable-mdpi/ic_launcher.png
/bin/res/crunch/drawable-xhdpi/ic_launcher.png
/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
/bin/resources.ap_
/bin/classes.dex
