/bin/classes/com/mapgame/R$array.class
/bin/classes/com/mapgame/RaceActivity$5.class
/bin/classes/com/mapgame/RaceActivity$6$1.class
/bin/classes/com/mapgame/RaceActivity$6.class
/bin/classes/com/mapgame/RaceActivity$7.class
/bin/classes/com/mapgame/engine/Game$1$1.class
/bin/classes/com/mapgame/mapprojection/gamemap/SpeedChangeListener.class
/bin/classes/com/mapgame/mapprojection/previewmap/IntroPreviewMapAnimation$3$1.class
/bin/classes/com/mapgame/overlaycomponents/RaceCountdownAnimation$Callback.class
/bin/classes/com/mapgame/overlaycomponents/RaceCountdownAnimation$CountdownActivity.class
/bin/classes/com/mapgame/overlaycomponents/RaceCountdownAnimation.class
/bin/classes/com/mapgame/MapActivity$1.class
/bin/classes/com/mapgame/MapActivity.class
/bin/classes/com/mapgame/RaceActivity$1.class
/bin/classes/com/mapgame/RaceActivity$2.class
/bin/classes/com/mapgame/RaceActivity$3.class
/bin/classes/com/mapgame/RaceActivity$4.class
/bin/classes/com/mapgame/RaceActivity.class
/bin/classes/com/mapgame/RaceFinishActivity$1.class
/bin/classes/com/mapgame/RaceFinishActivity$2.class
/bin/classes/com/mapgame/RaceFinishActivity.class
/bin/classes/com/mapgame/RaceIntroActivity$1.class
/bin/classes/com/mapgame/RaceIntroActivity$2.class
/bin/classes/com/mapgame/RaceIntroActivity.class
/bin/classes/com/mapgame/RacePreviewActivity$1.class
/bin/classes/com/mapgame/RacePreviewActivity.class
/bin/classes/com/mapgame/engine/DrivingEngine.class
/bin/classes/com/mapgame/MainActivity$9.class
/bin/classes/com/mapgame/mapprojection/previewmap/PreviewMap$1.class
/bin/classes/com/mapgame/MainActivity$8.class
/bin/classes/com/mapgame/engine/Game$2.class
/bin/classes/com/mapgame/engine/RaceFinishedCallback.class
/bin/classes/com/mapgame/mapprojection/previewmap/OutroPreviewMapAnimation.class
/bin/classes/com/mapgame/MainActivity$6.class
/bin/classes/com/mapgame/MainActivity$7.class
/bin/classes/com/mapgame/arrowsturn/ArrowsDisplayableActivity$ViewRunnable.class
/bin/classes/com/mapgame/arrowsturn/ArrowsDisplayableActivity.class
/bin/classes/com/mapgame/arrowsturn/TurnArrows$4.class
/bin/classes/com/mapgame/engine/DrivingController.class
/bin/classes/com/mapgame/engine/Race.class
/bin/classes/com/mapgame/mapprojection/MapViewManageableActivity$MapControllerRunable.class
/bin/classes/com/mapgame/mapprojection/MapViewManageableActivity$MapType.class
/bin/classes/com/mapgame/mapprojection/MapViewManageableActivity.class
/bin/classes/com/mapgame/mapprojection/gamemap/GameMap$MoveSpeed.class
/bin/classes/com/mapgame/mapprojection/gamemap/GameMap.class
/bin/classes/com/mapgame/mapprojection/gamemap/GameMapCallback.class
/bin/classes/com/mapgame/mapprojection/previewmap/IntroPreviewMapAnimation$1.class
/bin/classes/com/mapgame/mapprojection/previewmap/IntroPreviewMapAnimation$2$1.class
/bin/classes/com/mapgame/mapprojection/previewmap/IntroPreviewMapAnimation$2.class
/bin/classes/com/mapgame/mapprojection/previewmap/IntroPreviewMapAnimation$3.class
/bin/classes/com/mapgame/mapprojection/previewmap/IntroPreviewMapAnimation$4$1.class
/bin/classes/com/mapgame/mapprojection/previewmap/IntroPreviewMapAnimation$4.class
/bin/classes/com/mapgame/mapprojection/previewmap/IntroPreviewMapAnimation.class
/bin/classes/com/mapgame/mapprojection/previewmap/PreviewMap.class
/bin/classes/com/mapgame/mapprojection/previewmap/PreviewMapCallback.class
/bin/classes/com/mapgame/overlaycomponents/GameComponentsCallback.class
/bin/classes/com/mapgame/streetsgraph/model/Car.class
/bin/classes/com/mapgame/streetsgraph/model/CrossroadNode.class
/bin/classes/com/mapgame/streetsgraph/model/DirectionVector.class
/bin/classes/com/mapgame/streetsgraph/model/Point.class
/bin/classes/com/mapgame/streetsgraph/model/Road$Class.class
/bin/classes/com/mapgame/streetsgraph/model/Road.class
/bin/classes/com/mapgame/streetsgraph/model/Way$Position.class
/bin/classes/com/mapgame/streetsgraph/model/Way.class
/bin/classes/com/mapgame/mapprojection/IntroPreviewMapAnimation$1.class
/bin/classes/com/mapgame/mapprojection/IntroPreviewMapAnimation$2$1.class
/bin/classes/com/mapgame/mapprojection/IntroPreviewMapAnimation$2.class
/bin/classes/com/mapgame/mapprojection/IntroPreviewMapAnimation$3.class
/bin/classes/com/mapgame/mapprojection/IntroPreviewMapAnimation$4$1.class
/bin/classes/com/mapgame/mapprojection/IntroPreviewMapAnimation$4.class
/bin/classes/com/mapgame/mapprojection/IntroPreviewMapAnimation$5.class
/bin/classes/com/mapgame/mapprojection/IntroPreviewMapAnimation.class
/bin/res/crunch/drawable-xxhdpi/end_flag.png
/bin/res/crunch/drawable-xxhdpi/start_flag.png
/bin/classes/com/mapgame/MainActivity$5.class
/bin/classes/com/mapgame/MenuActivity$1.class
/bin/classes/com/mapgame/MenuActivity.class
/bin/classes/com/mapgame/engine/Game$1.class
/bin/classes/com/mapgame/engine/Game.class
/bin/classes/com/mapgame/mapprojection/AnimatedMap$MoveAnimation$1.class
/bin/classes/com/mapgame/mapprojection/AnimatedMap$MoveAnimation.class
/bin/classes/com/mapgame/mapprojection/AnimatedMap.class
/bin/classes/com/mapgame/mapprojection/GameMap$MoveSpeed.class
/bin/classes/com/mapgame/mapprojection/GameMap.class
/bin/classes/com/mapgame/mapprojection/MapMoveMenageable.class
/bin/classes/com/mapgame/mapprojection/PreviewMap$MapPreviewAnimation$1.class
/bin/classes/com/mapgame/mapprojection/PreviewMap$MapPreviewAnimation$2$1.class
/bin/classes/com/mapgame/mapprojection/PreviewMap$MapPreviewAnimation$2.class
/bin/classes/com/mapgame/mapprojection/PreviewMap$MapPreviewAnimation$3.class
/bin/classes/com/mapgame/mapprojection/PreviewMap$MapPreviewAnimation$4$1.class
/bin/classes/com/mapgame/mapprojection/PreviewMap$MapPreviewAnimation$4.class
/bin/classes/com/mapgame/mapprojection/PreviewMap$MapPreviewAnimation$5.class
/bin/classes/com/mapgame/mapprojection/PreviewMap$MapPreviewAnimation.class
/bin/classes/com/mapgame/mapprojection/PreviewMap.class
/bin/classes/com/mapgame/mapprojection/PreviewMapManageable.class
/test/com/mapgame/AddArrowsTest.java
/bin/classes/com/mapgame/MainActivity$4.class
/bin/classes/com/mapgame/arrowsturn/TurnArrows$ImageArrow.class
/bin/classes/com/mapgame/overlaycomponents/Car.class
/bin/res/crunch/drawable-xxhdpi/arrow.png
/bin/res/crunch/drawable-xxhdpi/arrow_blue.png
/bin/res/crunch/drawable-xxhdpi/arrow_orange.png
/bin/res/crunch/drawable-xxhdpi/arrow_red.png
/bin/res/crunch/drawable-xxhdpi/arrow_selected.png
/bin/res/crunch/drawable-xxhdpi/arrow_yellow.png
/bin/res/crunch/drawable-xxhdpi/car.png
/bin/res/crunch/drawable-xxhdpi/car_copy.png
/bin/classes/com/mapgame/streetsgraph/Road$Class.class
/bin/classes/com/mapgame/streetsgraph/Way$Position.class
/bin/classes/com/mapgame/MainActivity$3.class
/bin/classes/com/mapgame/mapprojection/Map$MoveSpeed.class
/bin/classes/com/mapgame/arrowsturn/Arrow.class
/bin/classes/com/mapgame/arrowsturn/DrivingController.class
/bin/classes/com/mapgame/streetsgraph/CrossroadNode.class
/bin/classes/com/mapgame/engine/Car.class
/bin/classes/com/mapgame/streetsgraph/Road$Position.class
/bin/classes/com/mapgame/streetsgraph/Road.class
/bin/R.txt
/bin/classes/com/mapgame/overlaycomponents/LengthCounter$1.class
/bin/classes/com/mapgame/overlaycomponents/LengthCounter$2.class
/bin/classes/com/mapgame/overlaycomponents/LengthCounter.class
/bin/classes/com/mapgame/arrowsturn/TurnArrows$3.class
/bin/res/crunch/drawable-xxhdpi/transparrent_arrow_framea.png
/bin/classes/com/mapgame/MainActivity$2.class
/bin/classes/com/mapgame/arrowsturn/ArrowsTurnCrossroadSolver.class
/bin/classes/com/mapgame/arrowsturn/ArrowsTurnCrossroadSolverFactory.class
/bin/classes/com/mapgame/arrowsturn/TurnArrows$1.class
/bin/classes/com/mapgame/arrowsturn/TurnArrows$2.class
/bin/classes/com/mapgame/arrowsturn/TurnArrows.class
/bin/classes/com/mapgame/engine/CarPosition.class
/bin/classes/com/mapgame/engine/CrossroadSolverFactory.class
/bin/classes/com/mapgame/engine/DirectionVector.class
/bin/classes/com/mapgame/sensorturn/SensorTurnCrossroadSolver.class
/bin/classes/com/mapgame/sensorturn/SensorTurnCrossroadSolverFactory.class
/bin/classes/com/mapgame/sensorturn/SensorTurnable.class
/bin/classes/com/mapgame/sensorturn/TurnSensor.class
/bin/res/crunch/drawable-xxhdpi/transparent_arrow_small.png
/bin/res/crunch/drawable-xxhdpi/transparrent_arrow.png
/bin/classes/com/mapgame/GameSurface.class
/bin/classes/com/mapgame/overlaycomponents/Component.class
/bin/classes/com/mapgame/overlaycomponents/ComponentsManager.class
/bin/classes/com/mapgame/overlaycomponents/DirectionArrow.class
/bin/classes/com/mapgame/streetsgraph/DirectionVector.class
/bin/classes/com/mapgame/turnsensor/TurnSensor.class
/bin/classes/com/mapgame/turnsensor/Turnable.class
/bin/classes/com/mapgame/mapprojection/Map$MoveAnimation$1.class
/bin/classes/com/mapgame/streetsgraph/CarPosition.class
/bin/classes/com/mapgame/streetsgraph/SpatialiteDb.class
/bin/classes/com/mapgame/streetsgraph/StreetsDataSource.class
/bin/classes/com/mapgame/streetsgraphdep/DataLoadException.class
/bin/classes/com/mapgame/streetsgraphdep/DataLoader.class
/bin/classes/com/mapgame/streetsgraphdep/Point.class
/bin/classes/com/mapgame/streetsgraphdep/Way.class
/bin/classes/jsqlite/Authorizer.class
/bin/classes/jsqlite/Backup.class
/bin/classes/jsqlite/Benchmark.class
/bin/classes/jsqlite/BenchmarkThread.class
/bin/classes/jsqlite/Blob.class
/bin/classes/jsqlite/BlobR.class
/bin/classes/jsqlite/BlobW.class
/bin/classes/jsqlite/BusyHandler.class
/bin/classes/jsqlite/Callback.class
/bin/classes/jsqlite/Constants.class
/bin/classes/jsqlite/DBDump.class
/bin/classes/jsqlite/Database.class
/bin/classes/jsqlite/Exception.class
/bin/classes/jsqlite/Function.class
/bin/classes/jsqlite/FunctionContext.class
/bin/classes/jsqlite/Profile.class
/bin/classes/jsqlite/ProgressHandler.class
/bin/classes/jsqlite/SQLDump.class
/bin/classes/jsqlite/SQLRestore.class
/bin/classes/jsqlite/Shell.class
/bin/classes/jsqlite/Stmt.class
/bin/classes/jsqlite/StringEncoder.class
/bin/classes/jsqlite/TableResult.class
/bin/classes/jsqlite/Trace.class
/bin/classes/jsqlite/Vm.class
/libs/armeabi-v7a/libjsqlite.so
/libs/armeabi/libjsqlite.so
/libs/x86/libjsqlite.so
/bin/classes/com/mapgame/engine/CrossroadSolver.class
/bin/classes/com/mapgame/engine/Engine.class
/bin/dexedLibs/osmdroid-android-4.1-javadoc-7c7113ce0925f059a01c380eb050f043.jar
/bin/classes/com/mapgame/MainActivity$1.class
/bin/classes/com/mapgame/mapprojection/Map$MoveAnimation.class
/bin/classes/com/mapgame/mapprojection/Map.class
/bin/classes/com/mapgame/mapprojection/MapMenageable.class
/bin/AndroidManifest.xml
/bin/MapGame.apk
/bin/classes/com/mapgame/BuildConfig.class
/bin/classes/com/mapgame/MainActivity.class
/bin/classes/com/mapgame/R$attr.class
/bin/classes/com/mapgame/R$color.class
/bin/classes/com/mapgame/R$dimen.class
/bin/classes/com/mapgame/R$drawable.class
/bin/classes/com/mapgame/R$id.class
/bin/classes/com/mapgame/R$layout.class
/bin/classes/com/mapgame/R$menu.class
/bin/classes/com/mapgame/R$string.class
/bin/classes/com/mapgame/R$style.class
/bin/classes/com/mapgame/R.class
/bin/classes/com/mapgame/streetsgraph/DataLoadException.class
/bin/classes/com/mapgame/streetsgraph/DataLoader.class
/bin/classes/com/mapgame/streetsgraph/Point.class
/bin/classes/com/mapgame/streetsgraph/Way.class
/bin/dexedLibs/android-support-v4-57bc72be977a6191a4bb1dc334e41a1d.jar
/bin/dexedLibs/osmdroid-android-4.1-1ab9a20f69d2531e872f73fefacad0c0.jar
/bin/dexedLibs/slf4j-android-1.7.6-184ef32b605ff766f60ba2fbf317d658.jar
/bin/dexedLibs/slf4j-api-1.7.6-6d25a42fa7044762870c9a7ecccdcba8.jar
/bin/jarlist.cache
/bin/res/crunch/drawable-hdpi/ic_launcher.png
/bin/res/crunch/drawable-mdpi/ic_launcher.png
/bin/res/crunch/drawable-xhdpi/ic_launcher.png
/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
/bin/resources.ap_
/bin/classes.dex
